<app-banner></app-banner>
<div class="raya-horizontal"></div>

<div class="titulo">
    <strong class="titulo1">¿Qué es FIFA?</strong>
</div>

<div class="content">
    <div class="descrp">
        <strong>FIFA es una serie de videojuegos de fútbol de EA Sports que simula partidos con equipos reales. Ofrece gráficos realistas y varios modos de juego, siendo uno de los títulos más populares en el género.</strong>
    </div>
    <div class="img_juego">
        <img src="moton4780.jpg" alt="Juego FIFA" class="foto">
    </div>
</div>

<div class="raya-horizontal"></div>

<div class="titulo">
    <strong class="titulo2">Las mejores ediciones</strong>
</div>

<div class="raya-horizontal"></div>
<div class="carrusel">
    <app-carrusel></app-carrusel>
</div>



