<header class="header-class">
    <nav>
        <img src="logo.png" alt="Logo" class="logo">
        <ul style="flex: 1; display: flex; align-items: center;">
            <li class="search" style="flex: 1;">
                <app-search-bar></app-search-bar>
            </li>
            <li class="menu">
                <button class="Inicio">Iniciar Sesión</button>
            </li>
            <li class="menu">
                <button class="registro">Regístrate</button>
            </li>
            <li class="menu">
                <burger-menu></burger-menu>
            </li>
            <li>
                <img src="download.png" alt="Download" class="download-icon">
            </li>
        </ul>
    </nav>
</header>
