<div class="titulo">
    <strong>Curiosidades</strong>
</div>
<div class="raya-horizontal"></div>
<div class="curiosidades">
    <div class="fifa96">
        <div class="imagen1">
            <img src="image 15.png" alt="FIFA 96">
        </div>
        <div class="texto">
            <strong>FIFA 96</strong>
            <h2>El primero en tener licencias de jugadores</h2>
            <p>Este videojuego fue el primero que tuvo gráficos 3D y también el que incorporó a los nombres de los jugadores profesionales, así como sus posiciones en la vida real. Sin embargo, hubo plantillas inexactas, como las de algunos equipos brasileños, entre los que había jugadores retirados.</p>
        </div>
    </div>
    <div class="raya-horizontal"></div>
    <div class="fifa2000">
        <div class="imagen2">
            <img src="image 16.png" alt="FIFA 2000">
        </div>
        <div class="texto">
            <strong>FIFA 2000</strong>
            <h2>Robbie Williams grabó un tema exclusivo</h2>
            <p>Algo que suele ser una de las características más relevantes de este juego es su soundtrack. En 1997, 'Song 2', de Blur, marcó a toda una generación y para el año 2000, el cantante inglés, Robbie Williams, grabó 'It’s Only Us' de forma exclusiva para el videojuego. Además, se lanzó la banda sonora en un CD físico, algo que sólo sucedió en esa edición.</p>
        </div>
    </div>
    <div class="raya-horizontal"></div>
    <div class="fifa2016">
        <div class="imagen3">
            <img src="image 18.png" alt="FIFA 16">
        </div>
        <div class="texto">
            <strong>FIFA 16</strong>
            <h2>El fútbol femenil se incluye</h2>
            <p>En la edición 16 se incluyó por primera vez a las selecciones nacionales femeniles de diversos países, como Estados Unidos, Inglaterra e incluso México. En la portada también se incluyó a la jugadora Alex Morgan, de EU.</p>
        </div>
    </div>
</div>
